<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Chém gió</title>
    <meta name="keywords" content="Học Tiếng Nhật, JLPT, Ngữ pháp, từ vựng, chữ hán (kanji), tra câu, cửa lưới đà nẵng, cửa lưới chống muỗi"
    />
    <meta name="description" content="Chia sẻ kiến thức Lập trình và Tiếng Nhật" />
    <meta name="author" content="http://huuthanhdtd.com/" />
    
    <style>
    html,body{
        font-family: Roboto, Arial;
    }
    input{border-radius: 50px;padding: 3px 8px;width:220px;}
    input,input:focus{border:1px solid #ccc;outline: none;}
    span.name{font-weight: bold;background-color:#ccc;padding: 0 5px;width:30px;display: inline-block;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;cursor: pointer;}
    span.name.me{background-color:#89BE50;}
    div.item{line-height: 24px;margin-bottom:1px;}
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-sanitize.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyB-82s54DAVEoHqKBd9tBhvLWEQ19vpN04",
            authDomain: "jlpt-c7a95.firebaseapp.com",
            databaseURL: "https://jlpt-c7a95.firebaseio.com",
            projectId: "jlpt-c7a95",
            storageBucket: "jlpt-c7a95.appspot.com",
            messagingSenderId: "836671896673"
        };
        firebase.initializeApp(config);
    </script>
    <script>
        var app = angular.module('app', ['firebase','ngSanitize']);
        var originalTitle = window.document.title;
        app.controller('chatCtrl', function ($scope, $firebaseArray, $sce) {
            var name = Math.random().toString(36).substr(2,3);//prompt("Enter your name: ", '');
            $scope.name = name;
            $scope.chatMessage = "";
            var ref = firebase.database().ref();
            $scope.chatMessages = $firebaseArray(ref);
            $scope.beep = new Audio('beep.ogg');
            //notification
            $scope.playAudio = function() {
                $scope.beep && $scope.beep.play();
            };
            window.addEventListener('focus', function() {
                window.document.title = originalTitle;
            });
            firebase.database().ref().on('value', function(){

                var lastMessage = $scope.chatMessages[$scope.chatMessages.length-1];
                var lastMessageId = lastMessage && lastMessage.name;
                if ($scope.name !== lastMessageId) {
                    
                    window.Notification.requestPermission(function (permission) {
                        // console.log(permission);
                        if (permission == 'granted' && lastMessage && lastMessage.name) {
                            var notify = new Notification(lastMessage.name + ' says:', {
                                    body: lastMessage.message,
                                });
                            $scope.playAudio();
                            window.document.title = "New message";
                            notify.onclick = function() {
                                window.focus();
                            };
                            notify.onclose = function() {
                                window.document.title = originalTitle;
                            };
                            var timmer = setInterval(function() {
                                notify && notify.close();
                                typeof timmer !== 'undefined' && window.clearInterval(timmer);
                            }, 10000);
                        }
                    });
                }
            });

            $scope.sendChat = function () {
                if ($scope.name && $scope.chatMes && $scope.chatMes.length <= 200){
                    var chatMessage = {
                    name: name,
                    message: $scope.chatMes,
                    date: Date.now()
                    };
                    $scope.chatMessages.$add(chatMessage);
                    $scope.chatMes = "";
                }
                
            }
            $scope.delete = function(item){
                if(event.shiftKey || confirm("Xóa "+item.message+"?")) $scope.chatMessages.$remove(item);
            }
            $scope.clear = function () {
                for (var i = 0; i < $scope.chatMessages.length; i++) {
                    $scope.chatMessages.$remove($scope.chatMessages[i]);
                }
            }
            $scope.markdown = function(value) {
                return $sce.trustAsHtml(value.replace(/\*\*([^\*\*]+)\*\*|__([^__]+)__/gi, "<strong>$1$2</strong>").replace(/\*([^\*]+)\*|_([^_]+)_/gi, "<em>$1$2</em>").replace(/\~([^\~]+)\~/gi, "<del>$1</del>"));
            }
        });
    </script>

</head>

<body ng-app="app" data-framework="firebase">
    <div class="l-content">
        <div class="information pure-g" id="chatBox" ng-controller="chatCtrl">
            <div class="pure-u-1 pure-u-md-1-1">
                <div class="l-box">
                    <div id="chatBox">
                        <h3 class="information-head">Khuyến cáo giữ chặt bàn phím và lướt thật nhanh khi đi qua khu vực này.</h3>
                        <div class="item" ng-repeat="chatMessage in chatMessages | limitTo:-20"> <span class="name" ng-click="delete(chatMessage, $event)">{{chatMessage.name}}</span> <span ng-bind-html="markdown(chatMessage.message)" title="{{chatMessage.message}}"></span>
                        </div>
                    </div>
                    <form ng-submit="sendChat()" class="pure-form">
                        <div class="item"><span class="name me">{{name}}</span> <input type="text" ng-model="chatMes" class="pure-input-rounded" name="chatMes" autofocus autocomplete="off" placeholder="Nhập tin nhắn markdown, nhấn Enter" maxlength="200" minlength="2"></div>
                    </form>
                </div>
            </div>

        </div>

    </div>




</body>

</html>